
.forside {
  text-align: center;

  &__row  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style: solid;
  
  }

  &__box {
     /* To correctly align image, regardless of content height: */
     vertical-align: top;
     display: inline-block;
     /* To horizontally center images and caption */
     text-align: center;
     /* The width of the container also implies margin around the images. */
     margin-top: 10px !important;
     margin-bottom: 20px !important;
     order: 2;
     
  }

  &__article-header, a  {
    word-wrap: break-word;
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
    text-decoration: none;
    color: black
  }

  

}

.article_img {
  width: 100%;
}



